@import "tailwindcss";
/* Custom font classes */

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-lato {
  font-family: var(--font-lato), sans-serif;
}
